apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "solana-streamer.fullname" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: solana-streamer
  template:
    metadata:
      labels:
        app: solana-streamer
    spec:
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          envFrom:
            - configMapRef:
                name: {{ include "solana-streamer.fullname" . }}

          ports:
            - name: http
              containerPort: 8080

          livenessProbe:
            httpGet:
              path: {{ .Values.probes.liveness.path }}
              port: http
            initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.liveness.periodSeconds }}

          readinessProbe:
            httpGet:
              path: {{ .Values.probes.readiness.path }}
              port: http
            initialDelaySeconds: {{ .Values.probes.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.readiness.periodSeconds }}

          resources:
{{ toYaml .Values.resources | indent 12 }}
